@charset 'utf-8';
@import './variables.css';

$--civil-font-size: 0.93rem;
$--address-font-size: 0.7rem;
$--greek-font-size: $--civil-font-size;

section.randomArticle div.main {
  width: calc(var(--video-width-desktop) * 2 + var(--xgap));
  margin-bottom: var(--ygap);
  text-align: justify;
  line-height: 1.5rem;
  columns: 2 var(--video-width-desktop);
  column-gap: var(--xgap);
  overflow-x: hidden;
}

section#article {
  margin: 3rem 0 4rem;
  line-height: 1.5rem;
}

@media (--mobile) {
  section.randomArticle div.main {
    width: auto;
    columns: auto auto;
  }
}

/* div.Letter */
/* div.Entry */
/* div.FirstParagraph */
/* div.CollogroupParagraph */
/* div.CfParagraph */
/* div.MeaningParagraph */

/* span.Headword */
/* span.SubHeadword */
/* span.HeadwordHomonymNumber */
/* span.HeadwordNumber */
/* span.HomonymNumber */
/* span.Text */
/* span.CSLSegment */
/* span.CSLSegmentEm */
/* span.MeaningfulNoAccent */
/* span.Em */
/* span.MeaningNumber */
/* span.CgMeaningNumber */
/* span.Meaning.Text */
/* span.Gloss.Em */
/* span.Address */
/* span.Greek */
/* span.Latin */
/* span.Use */
/* span.BiblicalAllusion */
/* span.Diamond */
/* span.Gloss.Em */
/* span.Conj */
/* span.Valency */

div.Entry {
  break-before: column;
}

@media (--mobile) {
  div.Entry {
    break-before: auto;
  }
}

div.Entry * {
  font-family: $--civil-font1;
}

div.FirstParagraph {
}

div.CfParagraph,
div.MeaningParagraph {
  text-indent: 0.6rem;
}

div.CollogroupParagraph {
  text-indent: 0.15rem;
}

span.Headword,
span.SubHeadword,
span.CSLSegmentEm {
  font-family: $--csl-font1;
}

span.Headword,
span.SubHeadword {
  font-size: 1.4rem;
}

span.CSLSegmentEm {
  font-size: 1.24rem;
}

span.CSLSegment {
  font-family: $--csl-font2;
  font-style: normal;
}

span.Text,
span.Em,
span.Conj,
span.Valency,
span.Latin,
span.Address {
  font-family: $--civil-font1;
  font-size: $--civil-font-size;
}

span.Address {
  font-size: $--address-font-size;
}

span.CgMeaningNumber {
  font-weight: bold;
}

span.Conj,
span.Valency,
span.Em {
  font-style: italic;
}

span.Greek {
  font-family: $--greek-font;
  font-size: $--greek-font-size;
}

span.MeaningNumber,
span.CgMeaningNumber {
  font-family: $--civil-font1;
  font-size: $--civil-font-size;
  font-weight: bold;
}

span.Meaning.Text,
span.Gloss.Em {
  hyphens: auto;
}

span.Diamond,
span.MeaningfulNoAccent,
span.BiblicalAllusion,
span.Use {
  font-family: FreeSerifSymbols;
}

span.Use {
  font-size: 1.35rem;
}

span.MeaningfulNoAccent {
  font-size: 0.583rem;
  position: relative;
  vertical-align: top;
}

span.Diamond {
  font-size: 1.2rem;
  position: relative;
  vertical-align: -0.05rem;
  display: inline-block;
  padding: 0;
  margin: 0 -0.15rem 0 0.2rem;
}

span.BiblicalAllusion {
  position: relative;
  vertical-align: -0.05rem;
  left: 0.05rem;
}

span.HeadwordHomonymNumber,
span.HeadwordNumber,
span.HomonymNumber {
  font-size: 0.583rem;
  position: relative;
  vertical-align: top;
  color: $--black;
  top: -0.2rem;
}
