@import 'variables.css';

body {
  & > svg {
    display: none;
  }
}

header#header {
  position: relative;
  height: 9rem;
  margin: 0 auto;

  &.dictOrIndex {
    height: 10.5rem;
  }
}

div#main {
  margin: 0 auto;
}

footer#footer {
  border-top: 0.125rem solid $--light-gray;
  margin: 0 auto;
}

section.index,
section#article,
section#about {
  min-height: 50vh;
}

@media (--desktop), (--laptop) {
  header#header,
  div#main {
    width: var(--main-width-desktop);
  }
  footer#footer {
    width: calc(var(--main-width-desktop) + 30rem);
  }
  section {
    width: var(--main-width-desktop);
  }
}

@media (--mobile), (--tablet) {
  header#header,
  div#main,
  footer#footer,
  section {
    width: var(--main-width-mobile);
  }
}
