@import 'variables.css';

body {
  overflow-y: scroll;
  overflow-x: hidden;

  & > svg {
    display: none;
  }
}

header#header {
  position: relative;
  width: $--main-width;
  height: 9rem;
  margin: 0 auto;
}

div#main {
  width: $--main-width;
  margin: 0 auto;
}

footer#footer {
  border-top: 0.125rem solid $--light-gray;
  width: calc($--main-width + 30rem);
  margin: 0 auto;
}

div#legend {
  margin-top: 3.1875rem;
  width: 43.0625rem;
  font-family: $--civil-font1;
  font: 1rem / 1.5rem;
  letter-spacing: 0.025rem;
}

section.article,
section.video,
section.refs {
  position: relative;
  margin-top: 2.125rem;
  width: $--main-width;

  & > header {
    position: absolute;
    flex: 0 0 auto;
    left: -15em;
    width: 14rem;
    font-family: $--civil-font2;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.025625rem;
    text-transform: uppercase;

    & a.random {
      display: block;
      width: 1rem;
      height: 1rem;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

#version {
  margin: calc($--ygap * 2) auto $--xgap auto;
  padding: 0;
  color: $--medium-gray;
  font-size: 0.6875rem;
  text-align: center;
}
