@import 'variables.css';

body {
  overflow-y: scroll;
  overflow-x: hidden;

  & > svg {
    display: none;
  }
}

header#header {
  position: relative;
  width: $--main-width;
  height: 9rem;
  margin: 0 auto;

  &.dictOrIndex {
    height: 10.5rem;
  }
}

div#main {
  width: $--main-width;
  margin: 0 auto;
}

footer#footer {
  border-top: 0.125rem solid $--light-gray;
  width: calc($--main-width + 30rem);
  margin: 0 auto;
}

div#legend {
  margin-top: 3.1875rem;
  width: 43.0625rem;
  font-family: $--civil-font1;
  font: 1rem / 1.5rem;
  letter-spacing: 0.025rem;
}

@define-mixin section-header {
  font-family: $--civil-font2;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  --font-size: 2.6775rem;
  @mixin section-header;
  letter-spacing: 0.06875rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
  margin: $--ygap 0;
}

section.video {
  margin-top: 2.125rem;

  & h1 {
    margin-bottom: 0;
  }
}

section.article,
section.index,
section.video,
section.refs {
  position: relative;
  width: $--main-width;

  & > header aside {
    @mixin section-header;
    position: absolute;
    flex: 0 0 auto;
    left: -15rem;
    width: 14rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.025625rem;

    & a.random {
      display: block;
      width: 1rem;
      height: 1rem;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

section.article > header aside {
  top: 0.2rem;
}

section.refs > header aside {
  top: 0.35rem;
}

section.index {
  min-height: 66vh;
}

#version {
  margin: $--ygap auto $--xgap auto;
  padding: 0;
  color: $--light-gray;
  font-size: 0.6875rem;
  text-align: center;

  &:hover {
    color: $--dark-gray;
  }
}
