@import 'variables.css';

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

a:link,
a:visited {
  color: $--blue;
}

a:focus,
a:hover {
  color: $--red;
}

a:active {
  color: $--black;
}

a.disabled,
a.disabled:link,
a.disabled:visited,
a.disabled:hover,
a.disabled:focus,
a.disabled:active {
  color: $--medium-gray;
}
