@charset 'utf-8';
@import './variables.css';

$--logo-width: 5rem;
$--logo-height: 6.5rem;
$--logo-small-width: 2.5rem;
$--logo-small-height: 3.25rem;

figure#logo {
  position: absolute;
  width: $--logo-width;
  height: auto;
  margin: 0;
  left: calc(- $--logo-width);

  --timing: 0.3s;
  transition: width var(--timing), height var(--timing), left var(--timing);

  & figcaption {
    --caption-top-offset: 0.2rem; /* В дизайнерском шаблоне 0.25rem */
    --width: 7.5625rem;
    --height: 3rem;

    font-family: $--civil-font2;
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 1.45;
    letter-spacing: 0.01875rem;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: $--logo-width;
    top: calc($--logo-height - var(--caption-top-offset));
  }
}

.dictOrIndex figure#logo {
  width: $--logo-small-width;
  left: 0;

  & figcaption {
    display: none;
  }
}
