@import 'variables.css';

@define-mixin menu-list $font-size, $letter-spacing,
                        $link-timing: $--link-timing {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & li {
    list-style: none;
    font-family: $--civil-font2;
    font-weight: bold;
    font-size: $font-size;
    line-height: 1.41;
    letter-spacing: $letter-spacing;
    color: $--black;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;

    & a:link,
    & a:visited,
    &.disabled a:hover,
    &.disabled a:focus {
      color: inherit;
    }

    & a:hover,
    & a:focus,
    &.active {
      color: $--red;
    }

    &.disabled a:before {
      $_font-size: 0.8rem;

      display: block;
      position: absolute;
      top: calc($_font-size * -1.66);
      left: calc($_font-size * -5.33);
      padding: calc($_font-size / 3) $_font-size;
      background-color: $--medium-gray;
      content: "Скоро!";
      font-family: $--civil-font1;
      text-transform: none;
      font-size: $_font-size;
      color: white;
      /* border-radius: 0.1875rem; */
      opacity: 0;
      transition: opacity 0.6s;
    }

    &.disabled a:hover:before {
      opacity: 1;
    }
  }
}

$--letter-spacing1: 0.0225rem;
$--letter-spacing2: 0.037rem;

nav#menu {
  position: absolute;
  width: 35.25rem;
  height: 1rem;
  left: 30rem;
  top: 2.15rem;

  & ul {
    @mixin menu-list 1.0625rem, $--letter-spacing1;
  }

  & ul ul {
    display: none;
    height: 4.6rem;
    top: 2rem;
    flex-direction: column;
    justify-content: flex-end;

    & li {
      font-size: 0.85rem;
      line-height: 0.5rem;
      letter-spacing: $--letter-spacing2;
      margin-top: 1rem;
    }
  }

  & ul li.active ul {
    display: flex;
  }

  & i.x {
    display: none;
  }
}

#burger {
  display: none;
}

$--dict-menu-width: 20.625rem;
$--dict-menu-height: 2.5rem;

$--dict-menu-cursor-width1: 3.75rem;
$--dict-menu-cursor-width2: 8rem;
$--dict-menu-cursor-height: 0.5rem;
$--dict-menu-cursor-timing: 0.8s;

nav#dict_menu {
  position: absolute;
  width: $--dict-menu-width;
  height: $--dict-menu-height;
  top: 8rem;
  border-bottom: 0.0625rem solid $--red;
  transition: border-bottom $--dict-menu-cursor-timing;

  & ul {
    @mixin menu-list 0.85rem, $--letter-spacing2;
  }

  &.nofocus {
    border-bottom-color: $--black;

    & #dict_menu_cursor {
      background-color: $--black;
    }

    & li.active {
      color: $--black;
      transition: color $--dict-menu-cursor-timing;
    }
  }
}

#dict_menu_cursor {
  width: $--dict-menu-cursor-width1;
  height: $--dict-menu-cursor-height;
  background-color: $--red;
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  margin: 0;
  transition: width $--dict-menu-cursor-timing,
              background-color $--dict-menu-cursor-timing,
              left $--dict-menu-cursor-timing;

  &.indexIsOn {
    width: $--dict-menu-cursor-width2;
    left: calc($--dict-menu-width - $--dict-menu-cursor-width2);
    transition: width $--dict-menu-cursor-timing,
                background-color $--dict-menu-cursor-timing,
                left $--dict-menu-cursor-timing;
  }
}

@media (--mobile) {
  #burger {
    --dimension: calc(var(--main-gap-mobile) * 3);

    display: block;
    position: absolute;
    top: var(--main-gap-mobile);
    right: var(--main-gap-mobile);
    width: var(--dimension);
    height: var(--dimension);

    & svg {
      width: var(--dimension);
      height: var(--dimension);
    }
  }

  nav#menu {
    width: var(--main-width-mobile);
    left: 0;
    top: 0;

    & ul {
      display: flex;
      flex-flow: column nowrap;
      width: 100vw;
      height: 75vw;
      margin: 0;
      padding: calc(var(--main-gap-mobile) * 3);
      background-color: #fff;
      position: absolute;
      top: calc(var(--main-gap-mobile) * 5);
      left: calc(-1 * var(--main-gap-mobile));
      justify-content: space-between;
      @mixin strut-shadow;
      z-index: 400;
    }

    & ul ul {
      display: flex;
      justify-content: flex-start;
      background-color: transparent;
      width: auto;
      height: auto;
      top: -0.55rem;
      left: 8.5rem;
      padding: 0;
      box-shadow: none;
    }

    & ul li.disabled a:before {
      left: unset;
      right: 3rem;
      top: -0.25rem;
    }

    & i.x {
      display: block;
      position: absolute;
      top: calc(var(--main-gap-mobile) * 6);
      right: 5.1vw;
      width: 1rem;
      height: 1rem;
      color: $--red;
      z-index: 500;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }

    & .menuInitState {
      display: none;
    }
  }

  nav#dict_menu {
    width: var(--main-width-mobile);
  }

  #dict_menu_cursor.indexIsOn {
      left: calc(var(--main-width-mobile) - $--dict-menu-cursor-width2);
  }
}
