footer#footer {

  & .patrons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: var(--main-width-desktop);
    margin: 0 auto;
  }

  & figure {
    $--width: calc(var(--main-width-desktop) / 3 - var(--xgap));
    $--height: 8.5rem;
    $--sub-width: calc($--width - 5rem);

    width: $--width;
    margin: 0;

    & picture {
      width: $--width;
      height: $--height;
      position: relative;
      display: flex;
      justify-content: center;
    }

    & img {
      width: $--sub-width;
      position: absolute;
    }

    @nest &.c3 img {
      /* left: -12.3344%; */
      bottom: 1.06rem;
    }

    @nest &.rslovo img {
      /* left: -7.5%; */
      bottom: 0.58rem;
    }

    @nest &.pfond img {
      /* left: -31%; */
      bottom: 1.06rem;
    }
  }

  & figcaption {
    font-size: 0.6875rem;
    color: $--medium-gray;
    text-align: center;
  }
}

@media (--mobile) {
  footer#footer {
    & .patrons {
      width: var(--main-width-mobile);
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
