section.refs {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;

  & figure {
    padding: 0;
    margin: 0 0 $--ygap 0;
    font-size: 0.8125rem;
    letter-spacing: 0.020625rem;

    & .bibliography {
      margin: 1em 0;
      background-color: $--light-gray;
      padding: 1em 1.5em;
    }
  }

  & figcaption {
    font-size: 1rem;
    letter-spacing: 0.025625rem;
  }
}
