section.refs {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;

  & div.main {
    width: calc(var(--video-width-desktop) * 2 + var(--xgap));
    columns: 2 var(--video-width-desktop);
    column-gap: var(--xgap);
    column-fill: balance;
    overflow-x: hidden;
    margin-bottom: var(--ygap);
  }

  & figure {
    padding: 0;
    margin: 0;
    font-size: 0.8125rem;
    letter-spacing: 0.020625rem;

    & .bibliography {
      margin: 1rem 0;
      background-color: $--light-gray;
      padding: 1rem 1.5rem;
    }
  }

  & figcaption {
    font-size: 1rem;
    letter-spacing: 0.025625rem;
    column-span: all;
    margin-bottom: 1rem;
  }
}

@media (--mobile) {
  section.refs {
    overflow-x: visible;

    & div.main {
      width: auto;
      columns: auto auto;
      overflow-x: visible;
    }

    & figure {
      position: relative;

      & .bibliography {
        width: 100vw;
        position: relative;
        left: calc(-1 * var(--main-gap-mobile));
        margin: var(--main-gap-mobile) 0;
        padding: var(--main-gap-mobile);
      }
    }

    & figcaption {
      margin-bottom: var(--main-gap-mobile);
    }
  }
}
