@import 'variables.css';

$--search-padding: 0.8rem;
$--search-width: 58.125rem;
$--search-icon-dimension: 2.5rem;

#search {
  margin-top: calc(3.875rem - $--search-padding);
  position: relative;
  width: var(--main-width-desktop);

  &.inDict {
    margin-top: 5rem;
  }

  & input {
    width: $--search-width;
    padding: 1.048rem 0;
    border: none;
    border-bottom: 0.0625rem solid $--medium-gray;
    font-size: 1.5rem;
    font-family: $--civil-font1;
    letter-spacing: 0.010625rem;
    outline: none;
    caret-color: $--red;

    &::placeholder {
      color: $--light-gray;
    }
  }

  & i {
    --shift: calc(0.3rem + $--search-icon-dimension);
    position: absolute;
    width: $--search-icon-dimension;
    height: $--search-icon-dimension;
    top: 0.85rem;
    right: calc(-1 * var(--shift));
    color: $--red;
  }

  & .tip1 {
    margin-top: 0.75rem;
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: 0.0175rem;
  }

  & .hints {
    list-style: none;
    width: $--search-width;
    background-color: white;
    padding: 1.375rem 1.5rem;
    position: absolute;
    top: 3rem;
    z-index: 500;
    @mixin strut-shadow;

    & li {
      position: relative;
      padding: 0.15rem 0;
      cursor: pointer;

      & a:link,
      & a:visited,
      & a:active {
        color: inherit;
      }

      & a:focus,
      & a:hover {
        color: $--red;
      }
    }

    & .qv {
      color: $--red;
      padding: 0 0.4rem;
    }
    & .HomonymGloss {
      font-variant: small-caps;
    }
    & .HomonymNumber {
      font-size: 0.75rem;
      left: -0.1rem;
      top: 0.15rem;
      color: inherit;
    }
    & .rnc {
      display: inline-block;
      padding: 0.05rem 0.3rem 0.1rem;
      position: absolute;
      top: -0.2rem;
      color: #fff !important;
      letter-spacing: 0.02rem;
      background-color: $--light-gray;
      border-radius: 0.1875rem;
      font-size: 0.6875rem;
      @mixin csl-header;

      &:hover {
        color: #fff;
        background-color: $--red;
      }
    }
  }

  & .spinner {
    top: -0.2em;
    right: -0.55em;
    transform: scale(0.5);
  }
}

@media (--mobile) {
  #search {
    --shift: calc(0.5rem + $--search-icon-dimension);
    width: calc(var(--main-width-mobile) - var(--shift));

    & input {
      width: calc(var(--main-width-mobile) - var(--shift));
    }
    & .hints {
      width: var(--main-width-mobile);
    }

    & .spinner {
      right: -1em;
    }
  }
}
