@import 'variables.css';

$--search-padding: 0.8rem;

#search {
  margin-top: calc(3.875rem - $--search-padding);
  position: relative;
  width: var(--main-width-desktop);

  & input {
    box-sizing: border-box;
    width: 58.125rem;
    padding: 1.048rem 0;
    border: none;
    border-bottom: 0.0625rem solid $--medium-gray;
    font-size: 1.5rem;
    line-height: 0;
    font-family: $--civil-font1;
    letter-spacing: 0.010625rem;
    outline: none;
    caret-color: $--red;

    &::placeholder {
      color: $--light-gray;
    }
  }

  & i {
    --dimension: 2.5rem;
    position: absolute;
    width: var(--dimension);
    height: var(--dimension);
    top: 0.85rem;
    right: calc(-0.3rem - var(--dimension));
    color: $--red;
  }

  & .tip1 {
    margin-top: 0.75rem;
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: 0.0175rem;
  }
}
