@import './variables.css';

section.video {
  width: $--main-width;

  & div.main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: calc($--video-width * 2 + $--xgap * 2);
    padding-top: 4.1rem;
  }

  & figure {
    width: $--video-width;
    margin: 0 $--xgap $--ygap 0;
    padding: 0;

    & iframe {
      width: $--video-width;
      height: 20rem;
      margin: 0;
    }
  }

  & figcaption {
    margin: $--xgap 0 0 0;

    & header {
      font-family: $--civil-font2;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.025rem;
    }

    & .speaker,
    & legend {
      margin-top: 0.5rem;
      font-size: 0.6875rem;
      line-height: 1rem;
      letter-spacing: 0.0175rem;
    }

    & .speaker {
      color: $--medium-gray;
    }
  }
}
