@import './variables.css';

section.video {
  width: var(--main-width-desktop);
  margin-top: 2.125rem;

  & div.main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: calc(var(--video-width-desktop) * 2 + var(--xgap) * 2);
    padding-top: 4.1rem;
  }

  & figure {
    width: var(--video-width-desktop);
    margin: 0 var(--xgap) var(--ygap) 0;
    padding: 0;

    & iframe {
      width: var(--video-width-desktop);
      height: var(--video-height-desktop);
      margin: 0;
    }
  }

  & figcaption {
    margin: var(--xgap) 0 0 0;

    & header {
      @mixin csl-header;
      font-size: 1rem;
      letter-spacing: 0.025rem;
    }

    & .speaker,
    & legend {
      margin-top: 0.5rem;
      font-size: 0.6875rem;
      line-height: 1rem;
      letter-spacing: 0.0175rem;
    }

    & .speaker {
      color: $--medium-gray;
    }
  }
}

@media (--mobile) {
  section.video {
    width: var(--main-width-mobile);
    margin-top: calc(var(--main-gap-mobile) * 5);

    & div.main {
      width: var(--main-width-mobile);
      padding: 0;
    }

    & figure {
      width: var(--main-width-mobile) /* sic! */;
      margin: 0 0 calc(var(--main-gap-mobile) * 3) 0;

      & iframe {
        position: relative;
        width: var(--video-width-mobile);
        height: var(--video-height-mobile);
        left: calc(- var(--main-gap-mobile));
        margin-right: calc(- var(--main-gap-mobile));
      }
    }

    & figcaption {
      margin: var(--main-gap-mobile) 0 0 0;
      width: var(--main-width-mobile);

      & .speaker,
      & legend {
        margin-top: var(--main-gap-mobile);
      }
    }
  }
}
