<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ЦСЛ сегодня</title>
    <meta name="description" content="Церковнославянский язык сегодня">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:url" content="http://csl.ruslang.ru/">
    <meta property="og:image" content="http://csl.ruslang.ru/og-image.png">
    <meta property="og:description" content="Портал, посвященный церковнославянскому языку.">
    <meta property="og:title" content="ЦСЛ язык сегодня">
    <meta name="msapplication-TileColor" content="#f54f4f">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="csl.webmanifest">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#f54f4f">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext">
    <link rel="stylesheet" href="csl.css">
  </head>
  <body style="position: relative; width: 100vw; height: 100vh;
      margin: 0; padding: 0;">
    <style>
    #safetyCurtain{
      background-color: #fff;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 10000;
    }
    #safetyCurtain:after {
      position: absolute;
      content: '';
      top: 33.3%;
      left: 50%;
      margin: -1.5em 0 0 -1.5em;
      width: 3em;
      height: 3em;
      -webkit-animation: spin .6s linear;
      animation: spin .6s linear;
      animation-name: spin;
      animation-duration: .8s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #f00 #ff000099 #ff000044 #ff000011;
      border-style: solid;
      border-width: .2em;
      -webkit-box-shadow: 0 0 0 1px transparent;
      box-shadow: 0 0 0 1px transparent;
      visibility: visible;
      z-index: 10001;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    </style>
    <div id="safetyCurtain"></div>

    {% include 'scraps/stubdata/article-angel.htm' %}

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"
      crossorigin="anonymous"></script>
    <script src="js/spa.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[])
      .push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e
      .getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(
      k,a)})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js",
      "ym");ym(51881207, "init", { id:51881207, clickmap:true, trackLinks:true,
      accurateTrackBounce:true });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51881207"
    style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-132379378-1"
      async></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132379378-1');
    </script>
    <!-- /gtag - Google Analytics -->

  </body>
</html>
