{% extends 'scraps/webpage.html.njk' %}
{% from 'scraps/svg_use.njk' import svg_use %}

{% block main %}
  {% include 'scraps/random.svg' %}

  <header id="header" data-bind="css: { dictOrIndex: section() === 'dictionary' }">

    <figure id="logo">
      <a href="./">
        {% include 'scraps/yus.svg' %}
      </a>
      <figcaption>Церковнославянский<br>язык<br>сегодня</figcaption>
    </figure>

    {% include 'scraps/slovnik.htm' %}
    {% include 'scraps/menu.htm' %}
    {% include 'scraps/dict_menu.htm' %}

  </header>

  <div id="main">

    <div id="legend" data-bind="visible: !section()">{{ CSL_DESCRIPTION }}</div>

    {% include 'scraps/search.htm' %}

    <section class="video" data-bind="visible: !section() || section() === 'video'">
      <header>
        Случайные лекции из&nbsp;нашего <a href="">видеоархива</a>
        <a class="random" href="">{{ svg_use('icon-random') }}</a>
      </header>
      <div class="main">
        {% include 'scraps/stubdata/video-pichxadze1.htm' %}
        {% include 'scraps/stubdata/video-kagarlickij1.htm' %}
        {% include 'scraps/stubdata/video-sedakova1.htm' %}
      </div>
    </section>

    <section class="article"
      data-bind="visible: !section() || section() === 'dictionary'">
      <header data-bind="visible: !section()">
        Случайная статья из&nbsp;нашего <a href="">словаря</a>
        <a class="random" href="">{{ svg_use('icon-random') }}</a>
      </header>
      {% include 'scraps/stubdata/article-angel.htm' %}
    </section>

    <section class="refs" data-bind="visible: !section() || section() === 'refs'">
      <header>
        Случайная <a href="">ссылка</a>
        <a class="random" href="">{{ svg_use('icon-random') }}</a>
      </header>
      {% include 'scraps/stubdata/ref1.htm' %}
      {% include 'scraps/stubdata/ref2.htm' %}
    </section>

  </div>

  <footer id="footer">
    {% include 'scraps/patrons.htm' %}
    <div id="version">Версия сайта {{ CSL_VERSION }}</div>
  </footer>

{% endblock %}
