{% extends 'scraps/webpage.html.njk' %}
{% from 'scraps/svg_use.njk' import svg_use %}

{% block main %}
  {% include 'scraps/random.svg' %}
  {% include 'scraps/times.svg' %}

  {#
  <div id="notifications">
    {% include 'scraps/notifications.htm' %}
  </div>
  #}

  <header id="header">

    <a href="./">
      <figure id="logo">
          {% include 'scraps/yus.svg' %}
        <figcaption>Церковнославянский<br>язык<br>сегодня</figcaption>
      </figure>
    </a>

    {% include 'scraps/slovnik.htm' %}
    {% include 'scraps/menu.htm' %}

  </header>

  <div id="main">

    <div id="legend" data-bind="visible: !section()">{{ CSL_DESCRIPTION }}</div>

    {% include 'scraps/search.htm' %}

    <section class="video" data-bind="visible: !section()">
      <header>
        <aside>
          Случайные лекции из&nbsp;нашего <a href=".{{ urls.video }}">видеоархива</a>
          <a class="random" href="" data-bind="click: getRandomVideos">
            {{ svg_use('icon-random') }}</a>
        </aside>
      </header>
      <div class="main">
        <!-- ko foreach: randomVideos -->
          <figure>
            <iframe frameborder="0"
              data-bind="attr: { src: 'https://www.youtube.com/embed/' + id }"
              allow="accelerometer; autoplay; encrypted-media; gyroscope;
              picture-in-picture" allowfullscreen></iframe>
            <figcaption>
              <header data-bind="text: title"></header>
              <div class="speaker" data-bind="text: speaker"></div>
              <legend data-bind="text: legend"></legend>
            </figcaption>
          </figure>
        <!-- /ko -->
      </div>
    </section>

    <section class="video" data-bind="visible: section() === 'video'">
      <header>
        <h1>Видео</h1>
      </header>
      <div class="main">
        <!-- ko foreach: videos -->
          <figure>
            <iframe frameborder="0"
              data-bind="attr: { src: 'https://www.youtube.com/embed/' + id }"
              allow="accelerometer; autoplay; encrypted-media; gyroscope;
              picture-in-picture" allowfullscreen></iframe>
            <figcaption>
              <header data-bind="text: title"></header>
              <div class="speaker" data-bind="text: speaker"></div>
              <legend data-bind="text: legend"></legend>
            </figcaption>
          </figure>
        <!-- /ko -->
      </div>
    </section>

    <section class="randomArticle" data-bind="visible: !section()">
      <header>
        <aside data-bind="visible: !section()">
          Случайные статьи из&nbsp;нашего
          <a href=".{{ urls.entries }}">словаря</a>
          <a class="random" href="" data-bind="click: getRandomArticles">
            {{ svg_use('icon-random') }}</a>
        </aside>
      </header>
      <div class="main">
        <!-- ko foreach: randomArticles -->
          <div data-bind="html: $data"></div>
        <!-- /ko -->
      </div>
    </section>

    <section id="article"
      data-bind="visible: section() === 'dictionary' && !indexIsOn() && !aboutIsOn()">
      <div class="Entry" data-bind="html: article"></div>
    </section>

    <section id="greek"
      data-bind="visible: section() === 'dictionary' && indexIsOn() && !aboutIsOn()">
      {% include 'scraps/greek.htm' %}
    </section>

    <section id="about"
      data-bind="visible: section() === 'dictionary' && aboutIsOn()">
    </section>

    <section class="randomRefs" data-bind="visible: !section()">
      <header>
        <aside data-bind="visible: !section()">
          Случайная <a href=".{{ urls.refs }}">ссылка</a>
          <a class="random" href="" data-bind="click: getRandomRefs">
            {{ svg_use('icon-random') }}</a>
        </aside>
      </header>
      <div class="main" data-bind="foreach: randomRefs">
        <div data-bind="html: $data"></div>
      </div>
    </section>

    <section id="refs" data-bind="visible: section() === 'refs'">
      <header>
        <h1>Ссылки</h1>
      </header>
      <div class="filters" data-bind="foreach: filterCategories">
        <div class="category" data-bind="attr: { id: name }">
          <header data-bind="text: name"></header>
          <ul data-bind="foreach: items">
            <li>
              <div class="checkbox" data-bind="click: toggle,
                  css: { checked: checked, disabled: disabled }">
                {% include 'scraps/checkbox.svg' %}
                <label data-bind="text: name"></label>
              </div>
              <!-- ko foreach: items -->
                <!-- ko ifnot: isGroup -->
                  <div class="group checkbox" data-bind="click: toggle,
                  css: { checked: checked, disabled: disabled }">
                    {% include 'scraps/checkbox.svg' %}
                    <label data-bind="text: name"></label>
                  </div>
                <!-- /ko -->
                <!-- ko if: isGroup -->
                <div class="group">
                  <header data-bind="text: name"></header>
                  <ul data-bind="foreach: items">
                    <li class="checkbox" data-bind="click: toggle,
                        css: { checked: checked, disabled: disabled }">
                      {% include 'scraps/checkbox.svg' %}
                      <label data-bind="text: name"></label>
                    </li>
                  </ul>
                </div>
                <!-- /ko -->
              <!-- /ko -->
            </li>
          </ul>
        </div>
      </div>

      <div class="main">
        <!-- ko if: noFilterChecked -->
          <h3>Случайные ссылки</h3>
        <!-- /ko -->
        <!-- ko if: !noFilterChecked() && refs().length === 0 -->
          <figure>
            <p>На основе выбранных фильтров ничего не найдено.</p>
          </figure>
        <!-- /ko -->
        <div data-bind="foreach: refs">
          <figure>
            <!-- ko if: $data.title -->
              <figcaption data-bind="html: title"></figcaption>
            <!-- /ko -->
            <!-- ko if: $data.bib -->
              <div class="bibliography" data-bind="html: bib"></div>
            <!-- /ko -->
            <div data-bind="html: annotation"></div>
          </figure>
          <!-- ko if: $index() + 1 < $parent.refs().length -->
            <div class="filters"></div>
          <!-- /ko -->
        </div>

      </div>

    </section>

  </div>

  <footer id="footer">
    {% include 'scraps/patrons.htm' %}
    <div id="version">Версия портала<br>«{{ CSL_NAME }}»<br>{{ CSL_VERSION }}</div>
  </footer>

{% endblock %}
